<div class="categories-dashboard">
  <h2 class="title">Shop by Categories</h2>
  <div class="category-container">
    <div class="category-box category-homemade-food">
      <span>Homemade food Product</span>
      <button class="shop-now-button" (click)="navigateToStore()">
        Shop Now
      </button>
    </div>
    <div class="category-box category-sewing">
      <span>Sewing cloths</span>
      <button class="shop-now-button" (click)="navigateToStore()">
        Shop Now
      </button>
    </div>
    <div class="category-box category-home-decor">
      <span>Home Decor</span>
      <button class="shop-now-button" (click)="navigateToStore()">
        Shop Now
      </button>
    </div>
    <div class="category-box category-festival">
      <span>Festival cloths</span>
      <button class="shop-now-button" (click)="navigateToStore()">
        Shop Now
      </button>
    </div>
  </div>
</div>

<!-- Footer Section -->
<footer class="footer">
  <h4>What are you looking for?</h4>
  <div class="footer-links">
    <span
      ><img src="" alt="Milk Products Image" class="footer-icon" />Milk
      Products</span
    >
    <span><img src="" alt="Sweets Image" class="footer-icon" />Sweets</span>
    <span><img src="" alt="Spices Image" class="footer-icon" />Spices</span>
    <span><img src="" alt="Staples Image" class="footer-icon" />Staples</span>
  </div>
</footer>
